<div class="grid" #grid>
  <div class="item"
       *ngFor="let item of items; let i = index"
       appGridDirective [grid]="grid"
       [imgLoad]="item.imgLoad "
  >
    <div class="content" *ngIf="item">
      <div class="title">
        <h3>{{item?.title}}</h3>
      </div>
      <img class="photothumb" [src]="item?.image" [alt]="item?.title" (load)="item.imgLoad = true">
      <div class="desc">
        <p>{{item?.desc}}</p>
      </div>
    </div>
  </div>
</div>

