/* You can add global styles to this file, and also import other style files */

.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  grid-auto-rows: 20px;
}

/* Non-grid specific CSS */
body {
  margin: 10px;
  color: #374046;
  background-color: #374046;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.15em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.item {
  background-color: #ffffff;
}

.photothumb{
  width: 100%;
}

.title {
  padding: 20px;

  h3{
    font-size: 1.2em;
    text-transform: uppercase;
  }

  .project & {
    background-color: #607D8B;
  }

  .blog &{
    background-color: #ff9800;
  }

  .photo &{
    background-color: #f44336;
  }
}

.desc{
  padding: 10px 10px 5px 10px;

  img{
    width: 50%;
    margin: 0 10px 10px 0;
    float: left;
  }

  p{
    margin-bottom: 10px;
  }
}

